@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka&family=Indie+Flower&family=Josefin+Sans:wght@300&family=M+PLUS+Rounded+1c&family=Roboto&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
}
h3{
    display: flex;
    color: rgb(0, 0, 0);
}
h4{
    display: flex;
    color: rgb(144, 1, 1);
}
span{
    padding: 0 10px;
    color: black;
}
p{
    color: rgb(100, 100, 100);
    font-size: 15px;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding: 10px ;
    overflow: hidden;
    background-color: rgb(181, 221, 223);
    margin: 10px;
    border-radius: 10px;
    font-family: 'Fredoka', sans-serif;

}