html
  head
    <link  rel="icon" href= data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABMElEQVRIie2SO07DQBRFr2lonIogBYVABUKyyC5gBdTULACxCiSkrIMNRJQRi0iBCxp6oIHmUDCKBuM3HyeiQL7NvBm/e898LPWSBAyB2tUl8AyUbl4DuxH/NvAILHLBZwCurvhW5eYA5xH/jevD6tky1k+9euLGfW+tCkBLSdehjYXAfvA4ByzpSlLwKULgQ6+eNEZJOghkXsagIbB/urar9uuVgKl+PlM2eM8FHXlBU+DY1eNWl3SRAjUFvBHWq+F7aDZaDOvET5G91cb6ScQXBd9HfNb3nVRwq4ABsDSueQkMDN8vdYGPgHkjZw6MAp71wW1hCb0v6/5cXTXbWFLmiQvgLsVTpIBXzUUR7U/1bPqqk9WDe3AP/lPwpxs/MnKjnhTwraR3N6aqi+ef6wtw4kQo3z9TTgAAAABJRU5ErkJggg== type="image/x-icon" >
    block title
    block style_files 
  body
    block content 

    block script_files      