doctype html 
html(lang='en')
head 
title= title 
body
style.
 
//- like this you can make var and then you can change the value of the element by backend
h1= message
//- div.remark this how i write the below one
.remark 

//- like this you can set value in a element 
p hello world 

section 
h3 this is a section
div 
img(src="Examples/img/drone.png", alt="sorry")

